{% extends 'index.html' %}

{% block bodyblock %}
 <div class="container">
		<div class="page-header">
		  <h1>{{product}}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="http://placehold.it/350x250" alt="" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <div> {{product.description}}</div>
			  <br>
			  <div>{{product.price}}</div>
			  <br>
			  <div><p><a href="{% url 'checkout:create_cartitem' product.slug %}" class="btn btn-success" role="button">Adicionar ao carrinho</a></p></div>
		  </div>
		</div>
{% endblock %}
